@import '../../../vars.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.5px;
  gap: 4px;
}
.temp {
  color: $primary-text;
  font-size: 18px;
}
.container {
  border-right: 2px solid $background;
  padding-right: 22px;
}
.container:last-child {
  border-right: none;
}
@media (max-width: 1199px) {
  .container {
    border: 0;
    padding: 0;
  }
}