@import '../../vars.scss';

.title {
  letter-spacing: 0.5px;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.data {
  display: grid; 
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  flex: 1;
  margin: 16px 0;
  align-items: center;
}
@media (max-width: 1199px) {
  .data {
    gap: 24px;
    justify-items: center;
  }
}