$background-light: #F0F0F0;
$primary-text-light: #333333;
$secondary-text-light: #555555;
$accent-light: #1E90FF;
$border-light: #CCCCCC;
$sunny-icon-light: #FFD700;
$rainy-icon-light: #00BFFF;
$cloudy-icon-light: #A9A9A9;
$error-message-light: #FF6347;

$background-dark: #1E1E1E;
$primary-text-dark: #FFFFFF;
$secondary-text-dark: #AAAAAA;
$accent-dark: #1E90FF;
$border-dark: #444444;
$sunny-icon-dark: #FFD700;
$rainy-icon-dark: #00BFFF;
$cloudy-icon-dark: #A9A9A9;
$error-message-dark: #FF6347;