@import '../../vars.scss';

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.data {
  display: flex;
  justify-content: space-around;
  flex: 1;
  margin: 16px 0;
}